*{
    padding:0
}
header{
    display:flex;
    background-color: brown;
}
header .logo{
    flex:0%
}
.tk .mn1{
    list-style-type: none;
    display:flex;
}
.mn1 li {
    padding:5px
}
.mn1 li a{
    color:black;
    text-decoration: none;
}
.mn1 li a:hover{
    color:#00CC33
}
.container{
    display:flex;
}
.mn >p{
    background-color: #FF3366;
    color:white;
}
.mn2{
    background-color: white;
    color:black;
    border: solid 1px grey;
}
.mn2 >li{
    position: relative;
}
.mn2>li>.mn3{
    position: absolute;
    left:150px;
    top:0px;
    list-style-type: none;
    width:100px;
    background-color: white;
    display: none;
}
.mn3 li a{
    text-decoration: none;
    color:black;
}
.mn2 >li:hover .mn3{
    display:block
}
.content{
    display:flex;
}
.anh:hover{
    transform: scale(1.2);
}
.giacu{
    text-decoration:line-through;
    text-decoration-color:red;
}
.giams{
    color:red;
}
.dm{
    background-color: black;
    border: solid 1px black;
    color:white
}
.dm:hover{
    background-color: red;
}
.them{
    background-color: white;
    border:1px solid black;
}
.them:hover{
    color:white;
    background-color: green;
}