
#menu ul{
    list-style-type: none;
}
#menu ul li{
    padding: 5px 20px;
    width:200px;
    padding-top:10px;
    padding-bottom:10px;
    position:relative;
}
#menu ul li a{
    text-decoration: none;
    
}
.tieude{
    font-weight:bold;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #336699;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #336699;
}
.phu{
    background-color: #CCCCCC;
    
    border-style: dotted;
    border-width:1px;
}
.phu a{
    color:black;
}
#menu .phu >a:hover{
    color: #FFFF33;

}
.phu > .cap2{
    left: 201px;
    top: -1px;
    position:absolute;
    display: none;
}
.phu > .cap2 li{
    background-color: pink;
    border-width:1px;
    border-style:inset;
}
#menu ul li:hover ul.cap2{
    display:block;
}
#menu .phu .cap2 li:hover a{
    
    color: chartreuse;
}
#menu .phu .cap2 li:hover{
    background-color:antiquewhite;
}
ul li img{
    width:10px;
    height:10px;
}