*{
    margin:0px;
    padding:0px;
    background-color: blanchedalmond;
}
#gd{
    margin:0px 100px;
    border:solid 1px black;
    width: 1143px;
}
#header{
    width: 1143px;
    height: 90px;
    background-color: crimson;
}
#header img{
    float:left;
    margin-left: 40px;
    margin-top:10px
}
#header h1{
    margin-left: 130px;
    margin-top:0px;
    padding-top: 20px;
    background-color: crimson;
    color:white;
    font-size:42px;

}
#nav{
    height:40px;
    
}


/* Menu cấp 1 */
#nav #menu1{
    display: flex;
    list-style-type: none;
    justify-content: space-around
}
#menu1 >li{
    position: relative;
    float:left;
    line-height:36px ;
    border:1px black solid;
    margin:1px;
    padding: 0px 55px;
    background-color:white;
}
#menu1 li a{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:18px;
    background-color:white;
}
#menu1 >li:hover{
    background-color:aquamarine;
}
#menu1>li:hover>a{
    background-color:aquamarine;
}


/* Menu cấp 2 */
li .menu1_2{
    list-style-type: none;
    position: absolute;
    left:0px;
    top:39px;
    border:1px solid black;
    display: none;
}
.menu1_2 li{
    background-color: white;
    line-height:36px ;
    width:195px;
}
#menu1 li:hover .menu1_2{
    display: block;
}
.menu1_2 li:hover{
    background-color:blueviolet;
}
#menu1 li .menu1_2 li:hover a{
    background-color:blueviolet;
    color:white
}




#giua{
    height: 30px;
    background-color:rgb(194, 31, 64);
}
#content{
    margin-top:1px;
    border:1px solid grey;
    height:936px;
    background-color:darkkhaki;
}
#article{
    background-color:firebrick;
    height: 936px;
    width:250px;
    float:left;
}
#article p{
    background-color: chocolate;
    padding:10px;
    font-size: 20px;
    color:white;
    font-weight: bold;
}
#article ul{
    list-style-type: none;
}
#article ul li{
    background-color:darkred;
    margin: 0px;
    padding: 9px;
    font-size: 15px;
    border: solid grey 1px;
}
#article ul li a{
    text-decoration: none;
    color:white;
    background-color:darkred;
}
#aside{
    background-color:darkkhaki;
    width: 889px;
    float:left;
}
#aside >p{

    background-color: chocolate;
    color:white;
    font-size:18px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-top:-4px;
    margin-left:2px;
}
#sp{
    background-color:darkkhaki;
    padding-top:20px;
    padding-left:17px;
}
#aside #sp .hang{
    margin-top: 30px;
    background-color:darkkhaki;
    float:left;
    width:208px;
    margin-right: 10px;
}
.hang img{
    background-color:darkkhaki;
    width:184px;
    border:0px;
}
.hang .msp{
    background-color: rgb(165, 163, 163);
    width:170px;
    margin-top: 5px;
    border-bottom:solid 1px white;
    color:white;
    padding:2px;
    font-weight: 18px;
}
.hang .gt{
    background-color: rgb(121, 117, 117);
    width:170px;
    color:white;
    padding:2px;
    font-weight: 18px;
}
#footer{
    height: 130px;
}
.tren{
    height: 30px;
    background-color: black;
    padding-left: 200px;
}
.tren ul{
    list-style-type: none;
    padding-left: 50px;
}
.tren ul li{
    float:left;
    line-height: 20px;
    background-color: black;
    padding:5px 10px;


}
.tren ul li a{
    text-decoration: none;
    background-color: black;
    color:white;
    font-size:15px;
    
}
#footer{
    background-color: chocolate;
}
.tren ul li a pre{
    background-color: black;
    font-weight: 18px;
}

.duoi p{
    text-align: center;
    padding-top:35px;
    background-color: chocolate;
}