*{
    margin:0px;
    padding:0px;
}
#header{
    height:130px;
    border:1px solid black
}
#header .logo{
    float:left;
    
    
}
.logo img:hover{
    transform: scale(1.3);
}
#header .tk{
    width:300px;
    padding-left:500px;
    padding-top:50px;
}
#header .icon{
    float:right;
    font-size:20px;
    background-color: #FF3399;
    margin-right:30px;
    margin-top:-30px
}
#header .icon p{
    padding: 5px 10px;
    
}
#header .icon:hover{
    background-color: yellow;
    color: red;
}

#menu{
    height:100px;
    margin-top:1px;
    margin-left:1px;
}
#menu .menu1{
    list-style-type: none;
}
#menu .menu1 >li{
    line-height:30px;
    float:left;
    background-color: black;
    padding:10px 40px 10px 35px;
    position: relative;
}
#menu .menu1 >li >a{
    text-decoration: none;
    color: white
}
#menu .menu1 >li:hover{
    background-color: #FF3399;
}

.menu2{
    position: absolute;
    list-style-type: none;
    top:50px;
    left:53px;
    width:121px;
    display: none;
}
.menu2 .ao{
    border-bottom:1px solid black;
    margin-left:-25px;
}
.menu2 li a{
    color:black;
    text-decoration: none;
}
.menu1 li:hover .menu2{
    display:block;
}
