*{
    padding:0;
    /* background-image: url('https://statics.vntrip.vn/data-v2/data-guide/img_content/1463729619_ruong-bac-thang-3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: cover; */
}
header{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
menu{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
banner{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
content{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
header{
    display:flex;
}
.logo{
    margin-right:100px;
}
.logo img{
    width: 132px;
    height: 82px;
}
.chu{
    text-transform:uppercase;
    flex-grow:1;
}
.chu1{
    font-size:20px;
    font-weight: bold;
    color:#01a45f;
    text-align:center
}
.chu2{
    font-size:18px;
    color:#99ba13;
    text-align:center
}
.co img{
    width:15px;
    height:15px;
    float:right;
    margin-left: 10px;
    margin-bottom: 10px;
}
menu{
    background-color: #fbfef5;
}
menu ul{
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
    justify-content: space-around;
}
menu ul li{
    text-transform: uppercase;
    border:1px solid grey;
    padding:10px;
    padding-right: 33px;
    padding-left: 33px;
}
menu ul li:hover{
    background-color: #00a551;
    color:white;
}
content{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
}
.nd .nd1{
    display:flex;
}
.nd4 p{
    margin-left:300px;
    border:1px solid green;
    color:#01a54f;
    text-align: center;
    margin-right: 24px;
}
footer{
    display:flex;
    background-color: #00a551;
}
footer .ten{
    color: white;
}